*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Montserrat';
    max-width:100%
}
    body {
    margin: 0;
}
    .header-menu-item {
     display: inline;
     text-transform: uppercase;
     vertical-align: middle;
     margin-left: 72px;
}
    .menu-red {
     color: #FF0000;
     text-decoration: none;
     letter-spacing: 2.7px;
     font-weight:bolder;
}
    .image {
       margin-left: 0;
     width:100%;
     height:100%;
     top: 78px;
     border-radius: auto;
} 
    .title-text {
     text-transform: uppercase;
     text-align: center;
     letter-spacing: 3.3px;
     font-weight:bolder;
}
    .container {
     text-align: center;
     letter-spacing: 2.4px;
     max-width: 100%;
}
    .text {
     padding-right: 30px;
     padding-left: 30px;
     font-size: 16;
     margin-top: 38px;
     letter-spacing: 2.4px;
     line-height: 26px;
}
    .start {
     font-weight: bold;
     border-radius: 4px;
     padding: 18px 42px 18px 42px;
     background-color: #FF0000;
     color: #FFFFFF;
     text-transform: uppercase;
     border-color:#FF0000 ;
     margin-top: 150px;
     letter-spacing: 1.8px;
     cursor: pointer;
}
    .footer-text {
     margin-right: 180px;
     margin-bottom: 30px;
     letter-spacing: 4.4px;
     font-weight: bold;
     text-align: right;  
}
    .get {
        margin-top: 150px;
        margin-bottom: 80px;
        text-align: center;
    }